body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.btn {
    margin-top: 20px;
}
